aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #f5f5f5;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-header button svg {
  width: 24px;
  height: 24px;
}

aside ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

aside li {
  display: flex;
  cursor: pointer;
}

aside li:hover {
  background-color: #ccc;
}

aside li svg {
  width: 24px;
  height: 24px;
}

aside li.active {
  background-color: #ccc;
}
